@import "../variables.scss";

table {
  width: 100%;
}

.mat-column-id {
  width: max-content;
}

.mat-column-name {
  width: max-content;
}

.mat-column-category {
  width: max-content;
}

.mat-column-situation {
  width: max-content;
}

.mat-column-price {
  width: max-content;
}

.mat-row:nth-child(odd) {
  background-color: #f4f4f4;
}

.mat-table thead,
.mat-table tbody,
.mat-table tfoot,
mat-header-row,
mat-row,
mat-footer-row,
[mat-header-row],
[mat-row],
[mat-footer-row],
.mat-table-sticky {
  background: #fafafa;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover {
  background-color: $light-medium;
}

th.mat-header-cell {
  border-bottom-width: 0px;
}

.mat-header-cell {
  font-family: Roboto;
  font-weight: 900;
  font-size: 16px !important;
  line-height: 24px;
  color: #363636;
  letter-spacing: 0.05em;
  justify-content: center;
}

.mdc-data-table__cell {
  overflow: unset !important;
}

::ng-deep .mdc-tab-indicator__content--underline {
  border-top-width: unset !important;
}