<div class="">
  <form [formGroup]="form" class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="w-100" floatLabel="always" appearance="outline">
          <mat-label>Pesquisar por</mat-label>          
          <mat-select formControlName="searchBy" (selectionChange)="onSearchByChange()" placeholder="selecione">
            <mat-option *ngFor="let option of searchByOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="w-100" floatLabel="always" appearance="outline">
          <mat-label>Nome</mat-label>          
          <input *ngIf="form.get('searchBy')?.value !== 'Categoria'" matInput formControlName="searchType" [disabled]="form.get('searchBy')?.value !== 'Categoria'">
          <mat-select *ngIf="form.get('searchBy')?.value === 'Categoria'" formControlName="searchType">
            <mat-option *ngFor="let option of categoriaOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <button mat-raised-button color="secondary" class="w-100" [disabled]="!form.valid">
          <mat-icon>search</mat-icon>
          Pesquisar
        </button>
      </div>
    </div>
  </form>

  <table mat-table [dataSource]="dataSourceProduto" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Código</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Descrição resumida</th>
      <td mat-cell *matCellDef="let element">
        {{ element.descricaoResumida | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="categoria">Categoria</th>
      <td mat-cell *matCellDef="let element">
        {{ element.categoria }}
      </td>
    </ng-container>

    <ng-container matColumnDef="precoVenda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="precoVenda">Preço de venda</th>
      <td mat-cell *matCellDef="let element">
        {{ element.precoVenda | currency :'BRL'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef class="table-situation" mat-sort-header>Registro</th>
      <td mat-cell *matCellDef="let element" class="table-situation">
        <mat-slide-toggle [matTooltip]="situationTextMap.get(element.situacao) ?? ''"
          [attr.situacao]="element.situacao" [checked]="element.situation === 'true'">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row; let i = index" class="position-relative">
        <mat-icon [hidden]="menuIndex === i" class="cursor-pointer" (click)="menuIndex = i">
          menu
        </mat-icon>
        <div *ngIf="menuIndex === i" class="tab-row-menu">
          <div class="label-txt">{{ labelAcaoAtualtemListaMenu }}</div>
          <mat-icon aria-hidden="false" (click)="openDialogProduto(row.id, formModeEnum.Visualizar)"
            (mouseenter)="labelAcaoAtualtemListaMenu = 'Visualizar'">
            remove_red_eye
          </mat-icon>
          <mat-icon aria-hidden="false" (click)="openDialogProduto(row.id, formModeEnum.Editar)"
            (mouseenter)="labelAcaoAtualtemListaMenu = 'Editar'">
            edit
          </mat-icon>
          <mat-icon aria-hidden="false" (click)="deleteProduto(row.id)"
            (mouseenter)="labelAcaoAtualtemListaMenu = 'Excluir'">
            delete
          </mat-icon>
          <mat-icon (click)="menuIndex = undefined" (mouseenter)="labelAcaoAtualtemListaMenu = 'Fechar'"
            class="cancel">cancel</mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="footer">
      <td mat-footer-cell *matFooterCellDef colspan="12" class="footer-row">
        <p (click)="openDialogProduto(null,formModeEnum.Incluir)">
          <mat-icon aria-hidden="false" aria-label="Criar equipe">
            add_circle_outline
          </mat-icon>
          <span class="px-1">Cadastrar produto</span>
        </p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['footer']"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="no-data-row" colspan="12">
        <div class="ps-3">Nenhum registro localizado.</div>
      </td>
    </tr>
  </table>
  <!-- <tr class=" border-bottom pt-2 pb-2 d-flex justify-content-center">
      <a (click)="openDialogProduto(null,formModeEnum.Incluir)" class="d-flex align-items-center"
        style="text-decoration:none;color: inherit;cursor:pointer;">
        <mat-icon>add_circle_outline</mat-icon>&nbsp;&nbsp;Cadastrar acesso externo
      </a>
    </tr> -->
</div>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="pageEvent.length" [pageIndex]="pageEvent.pageIndex"
    [pageSize]="pageEvent.pageSize" showFirstLastButtons (page)="getProduto($event)" aria-label="Select page of users">
  </mat-paginator> -->