.login {
  height: 80vh;
  width: 100vw;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 200px !important;
  color: #adb5bd;
}
