<div class="login">
  <form [formGroup]="logiIn" class="">
    <div>

    </div>
    <span class="material-symbols-outlined">
      person
    </span>
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Insira seu E-mail</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Insira sua senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="">
      <button class="w-100" mat-raised-button color="primary">Entrar</button>
    </div>
  </form>
</div>