<div class="login centralizar">
  <form [formGroup]="form" class="">
    <div class="centralizar">
      <span class="material-symbols-outlined">
        person
      </span>
    </div>
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Insira seu E-mail</mat-label>
        <input matInput placeholder="example@example.com" formControlName="email" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        <!-- <app-mensagem *ngIf="email.errors" mensagem=" O campo deve ser preenchido"></app-mensagem> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Insira sua senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="">
      <button class="w-100" mat-raised-button color="primary" (click)="logar()">Entrar</button>
    </div>
  </form>
</div>