<div class="container-fluid">
  <p  style="text-align: center; font-size: 24px; font-weight: bold; color: #333;">
  Gerenciamento de produtos
  </p>
  <mat-tab-group  mat-stretch-tabs = "false"  mat-align-tabs = "start" dynamicHeight> 
    <mat-tab label="Listagem" tyle="text-align: start;"> 
      <app-list-produto></app-list-produto>
    </mat-tab>    
    <mat-tab label="Estoque"> 
      <app-estoque></app-estoque>       
    </mat-tab>
    <mat-tab label="Relatórios">  
      <app-relatorios></app-relatorios>      
    </mat-tab>
  </mat-tab-group>
</div>
