<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
        <div>
            <span> ERP GAP</span> 
            <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>            
        </div>
        <div>
            <span>Admin</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>account_circle </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Meus dados</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Sair</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list class="pt-0">
            <ng-container *ngFor="let item of menuItems">
              <mat-list-item routerLinkActive="active">
                <a class="d-flex align-items-center" [routerLink]="item.link">
                  <mat-icon>{{ getIcon(item.nome) }}</mat-icon>{{ item.nome }}
                </a>
              </mat-list-item>
            </ng-container>
          </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="mt-3">
        <router-outlet ></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>