@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button {
  height: 44px;
}

::ng-deep .mat-dialog-container {
  background-color: #fafafa !important;
  box-shadow: none !important;
  border-radius: 8px !important;
}

.h3-bold {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #363636;
}
