<section>
  <div class="row justify-content-between">
    <div class="col-auto">
      <p class="h3-bold" *ngIf="mode == formModeEnum.Visualizar">
        Visualizar instrumento utilizado na ocorrência
      </p>
      <p class="h3-bold" *ngIf="mode == formModeEnum.Editar">
        Editar instrumento utilizado na ocorrência
      </p>
      <p class="h3-bold" *ngIf="mode == formModeEnum.Incluir">
        Cadastrar instrumento utilizado na ocorrência
      </p>
    </div>
    <div *ngIf="mode == formModeEnum.Incluir" class="col-auto">
      <button color="primary" mat-flat-button class="me-2" (click)="addProduto()">
        <mat-icon>save</mat-icon> Salvar
      </button>
    </div>
    <div *ngIf="mode == formModeEnum.Editar" class="col-auto">
      <button color="primary" mat-flat-button class="me-2" (click)="addProduto()">
        <mat-icon>save</mat-icon> Salvar
      </button>
    </div>
    <div *ngIf="mode == formModeEnum.Visualizar" class="col-auto">
      <button color="accent" mat-flat-button class="me-2" (click)="editProduto()">
        <mat-icon>edit</mat-icon> Editar
      </button>
    </div>
  </div>
  <div class="mt-1 position-relative">
    <mat-tab-group>
      <mat-tab label="Instrumento Utilizado na Ocorrência" [disabled]="true">
        <form [formGroup]="formProduto" class="overflow-hidden">
          <div class="row mt-3">
            <mat-form-field class="col-md-7 col-sm-12 my-auto" floatLabel="always" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" maxlength="150">
            </mat-form-field>

            <div class="col-12 col-md-3 col-lg-3">
              <mat-radio-group aria-label="Tipo" formControlName="situation">
                <mat-label>Registro:</mat-label>
                <mat-radio-button [value]="true">Ativo</mat-radio-button>
                <mat-radio-button [value]="false">Inativo</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
    <div class="close-back-container">
      <button mat-button class="button-exit">Sair</button>
    </div>
  </div>
</section>