.mat-column-actions {
  width: 33% !important;
}

.img-func {
  border: 1px solid #646464;
  width: 123px;
  height: 133px;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

.img-func img {
  width: 121px;
  height: 230px;
  border-radius: 4px;
}

.icon-avatar {
  position: relative;
  text-align: center;
  top: calc(50% - 10px);
}
::ng-deep.mat-tab-label.mat-focus-indicator,
::ng-deep.mat-tab-disabled .ng-star-inserted {
  padding: 0 !important;
}

::ng-deep.mat-tab-label.mat-tab-disabled,
::ng-deep.mat-tab-link.mat-tab-disabled {
  color: black;
  border-bottom: 4px solid #1ba2e8 !important;
  padding-right: 30px;
  margin-right: 30px;
}

.button-exit {
  position: absolute;
  top: 12px;
  right: 0px;
  border-radius: 0;
  z-index: 1;
  min-width: 35px;
  padding: 0;
  color: #817e7e;
}

.close-back-container .button-exit {
  border-bottom: 4px solid;
  border-color: #e33e38;
  border-radius: 0 !important;
  padding: 0;
  min-width: 35px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #646464;
}

/*Desativa setas do input type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-mdc-tab-labels {
  border-bottom: 1px solid #d8d8d8;
}

.mdc-text-field--disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix:after {
  color: #363636;
}

.mat-form-field:not(.mat-focused):not(
    .mat-form-field-invalid
  ).mat-form-field-appearance-outline:hover
  .mat-form-field-outline {
  color: #363636;
}

// ::ng-deep .mdc-text-field--disabled {
//   //color: #363636;
//   color: red;
// }

.mdc-text-field--disabled {
  color: #e33e38 !important;
}

.button_save {
  color: white !important;
  width: 284px;
  height: 48px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(54, 54, 54) 50.42%,
    rgb(0, 0, 0) 100%
  );
}
